.directory-container {
  width: 100%;
  margin-top: 4rem;
  .hero--container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 750px) {
  .directory-container {
    margin-top: 2rem;
  }
}
